<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="m.todays.pilates.domain.member.MemberMapper">
    <select id="getMember" resultType="camelmap" statementType="PREPARED">
        SELECT *
        FROM MEMBER_M
        WHERE COMP_CD = #{compCd}
        	AND STOR_CD = #{storCd}
        <if test="memberNm != null and memberNm != ''">
        	AND MEMBER_NM LIKE '%' + #{memberNm} + '%'
        </if>
        <if test="memberNo != null and memberNo != ''">
        	AND MEMBER_NO = #{memberNo}
        </if>
    </select>
</mapper>