<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="m.todays.pilates.domain.reservation.teacher.TeacherMapper">
    <select id="getTeacher" resultType="camelmap" statementType="PREPARED">
        SELECT *
        FROM EMP_M
        WHERE COMP_CD = #{compCd}
        <if test="storCd != null and storCd != ''">
        	AND STOR_CD = #{storCd}
        </if>
        <if test="empNm != null and empNm != ''">
        	AND EMP_NM LIKE '%' + #{empNm} + '%'
        </if>
        <if test="useYn != null and useYn != ''">
        	AND USE_YN = #{useYn}
        </if>
        ORDER BY EMP_NO
    </select>
   	<select id="getTeacherPerformance" resultType="camelmap" statementType="PREPARED">
   		/* 나의 수업 실적 */
	   	SELECT A.COMP_CD, A.STOR_CD, B.EMP_NM,
			A.LSN_CNT_PRIVATE, A.LSN_CNT_DUET, A.LSN_CNT_GROUP, A.LSN_CNT_KID_P, A.LSN_CNT_KID_D
		FROM 
		(SELECT COMP_CD, STOR_CD, EMP_NO, 
			SUM(CASE WHEN LSN_CD = '01' THEN LSN_CNT ELSE 0 END) LSN_CNT_PRIVATE,
			SUM(CASE WHEN LSN_CD = '02' THEN LSN_CNT ELSE 0 END) LSN_CNT_DUET,
			SUM(CASE WHEN LSN_CD = '03' THEN LSN_CNT ELSE 0 END) LSN_CNT_GROUP,
			SUM(CASE WHEN LSN_CD = '04' THEN LSN_CNT ELSE 0 END) LSN_CNT_KID_P,
			SUM(CASE WHEN LSN_CD = '05' THEN LSN_CNT ELSE 0 END) LSN_CNT_KID_D
		FROM (SELECT COMP_CD, STOR_CD, SUBSTRING(ATND_DT, 1, 6) ATND_MONTH, EMP_NO, LSN_CD, SUM(LSN_TM) LSN_CNT
			FROM ATND_T
			WHERE ATND_FG IN ('1', '2')
				AND RSV_DT LIKE #{schMonth} +'%'
			GROUP BY COMP_CD, STOR_CD, SUBSTRING(ATND_DT, 1, 6), EMP_NO, LSN_CD) X
		GROUP BY COMP_CD, STOR_CD, EMP_NO ) A
		INNER JOIN EMP_M B
		ON A.COMP_CD = B.COMP_CD
		AND A.STOR_CD = B.STOR_CD
		AND A.EMP_NO = B.EMP_NO
		WHERE A.COMP_CD = #{compCd}
			<if test="storCd != null and storCd != ''">
				AND A.STOR_CD = #{storCd}
			</if>
			<if test="empNo != null and empNo != ''">
				AND A.EMP_NO = #{empNo}
			</if>
			AND B.USE_YN = 'Y'
		ORDER BY A.COMP_CD, A.STOR_CD, B.EMP_NM
   	</select>
</mapper>