<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="m.todays.pilates.domain.reservation.teacher.TeacherMapper">
    <select id="getTeacher" resultType="camelmap" statementType="PREPARED">
        SELECT *
        FROM EMP_M
        WHERE COMP_CD = #{compCd}
        <if test="storCd != null and storCd != ''">
        	AND STOR_CD = #{storCd}
        </if>
        <if test="empNm != null and empNm != ''">
        	AND EMP_NM LIKE '%' + #{empNm} + '%'
        </if>
        ORDER BY EMP_NO
    </select>
</mapper>