<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="m.todays.pilates.domain.user.UserMapper">
    <select id="getUser" resultType="camelmap" statementType="PREPARED">
        SELECT *
        FROM USER_M
    </select>
    <select id="loginUser" parameterType="hashmap" resultType="camelmap" statementType="PREPARED">
        SELECT USER_CD AS "username", USER_PS as "password"
        FROM USER_M
        WHERE USER_CD = #{userCd}
        	AND USER_PS = #{userPs}
        	AND USE_YN = 'Y'
    </select>
    <select id="existUserInStor" parameterType="hashmap" resultType="camelmap" statementType="PREPARED">
    	/* 매장의 사용자 */
    	SELECT
			  ISNULL((SELECT CASE WHEN USER_LV = '01' THEN 1 
			                      WHEN USER_LV != '01' AND STOR_CD = #{storCd} THEN 1 
			                 ELSE 0 END  
			          FROM USER_M 
			          WHERE USER_CD = #{userCd}), -99999) AS EXIST_FG
    </select>
    <select id="getUserInfo" parameterType="hashmap" resultType="User" statementType="PREPARED">
    	/* 사용자인증정보 */
        SELECT COMP_CD AS "compCd", 
        	STOR_CD as "storCd",
        	USER_CD AS "userCd", 
        	USER_PS as "userPS",
        	USER_NM as "userNm",
        	USER_LV AS "userLv",
        	MIS_MENU_TY as "misMenuTy",
        	MIS_USER_GRP as "misUserGrp",
        	MEMBER_NO as "memberNo",
        	EMP_NO as "empNo"
        FROM USER_M
        WHERE USER_CD = #{userCd}
        	AND USER_PS = #{userPs}
        	AND USE_YN = 'Y'
    </select>
    <update id="updateUserInfo" parameterType="hashmap" statementType="PREPARED">
    	/* 사용자 정보수정 */
    	UPDATE USER_M
    	SET USER_CD = replace(#{hp}, '-', ''),
    		USER_PS = right(replace(#{hp}, '-', ''), 4) 
    	WHERE USER_CD = replace(#{hp}, '-', '')
    </update>
</mapper>