html,body {
  font-size: .875rem;
}

body {
	overflow: auto;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; 
  padding: 48px 0 0; 
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; 
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.table tr {
	text-align: center;
}
.table tr td {
	vertical-align: middle;
}
.table .select {
	float: center;
}

#datepicker .selected {
  color: #fff;
  background-color: rgba(255, 0, 0, .5);
  border-color: rgba(255, 0, 0, 1);
}

#datepicker .today {
  color: rgba(29, 128, 159, 1);
  font-weight: 700;
}

#datepicker .today2 {
  background-color: rgba(255, 255, 0, .5);
  border-color: rgba(222, 226, 230, 1);
}

#new-reservation-container .selected {
  color: #fff;
  background-color: rgba(255, 0, 0, .5);
  border-color: rgba(255, 0, 0, .5);
}

#member-container .selected {
  color: #fff;
  background-color: rgba(255, 0, 0, .5);
  border-color: rgba(255, 0, 0, .5);
}

#lesson-container .selected {
  color: #fff;
  background-color: rgba(255, 0, 0, .5);
  border-color: rgba(255, 0, 0, .5);
}
/*
 * Utilities
 */
 #caption {
 	display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-between; /* Safari 6.1+ */
    display: flex;
    justify-content: space-between;
 }
 
 #group-lesson-add-btn {
 	margin-top: 2px;
 	margin-bottom: 2px; 
 	margin-right: 5px; 
 	margin-left: 5px;
 	width: 70px;
 }
 
 
.group-lesson-tbl-caption, #modal-caption { 
  text-align: left;
  vertical-align: bottom;
  margin-bottom: 0px; 
  padding-top: 5px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 110%;
  color: rgba(29, 128, 159, 1);
}

.group-lesson-tbl-caption-empty{ 
  text-align: center;
  font-weight: bold;
  font-size: 110%;
  color: rgba(29, 128, 159, 1);
  padding: 100px 0 100px 0;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
